#Directories
**/build
**/node_modules
**/dist
**/tags
**/release
**/tmp

#files
**/.env
**/.bundle
**/.DS_Store
**/.nvm-version
**/.project
**/.svn
**/package-lock.json
**/Thumbs.db
**/*.tgz
**/*.log
**/stats.json
config.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
